<ion-view cache-view="false">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header bar-positive">
      <div class="title">{{title}} </div>
    </div>
  </ion-nav-title>
  <ion-content scroll="false">
    <tab-slide-box tab="2">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll has-bouncing="false" scrollX="false" direction="x" scrollY="false" class="tsb-hscroll">
            <a class="triangle-isosceles" on-finish-render="test()">
            עץ ארגוני
            </a>
            <a class="triangle-isosceles" on-finish-render="test()">
            פרטי העובד
            </a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">

        <!-------------------------------------------------------------------------------->
        <!----------------------------- Approve List Slide ------------------------------->
        <!-------------------------------------------------------------------------------->
        <ion-slide on-drag-left="enable('drag')" on-drag-right="disable('drag')">
          <ion-scroll scrollX="false" style="height:80%" scrollX="false" delegate-handle="slide1Scroll">
            <ul class="list">
              <li class="item item-info no-border">
                <div class="item item-divider item-icon-right item-icon-left" ng-init="info_elm=true" ng-click="info_elm=!info_elm">

                  <i class="pel_icon icon icon-sm" ng-class="info_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                  <i class="icon pel_icon icon-md ion-clipboard"></i>
                  <h2 class="text-right pele_rtl">פרטי המשימה</h2>
                </div>
                <div class="item-section" ng-show="info_elm">
                  <table class="pele_rtl text-right">
                    <tbody>
                      <tr>
                        <td class="label">שם: </td>
                        <td class="info"> {{docDetails.BAN_NAME}}</td>
                      </tr>
                      <tr>
                        <td class="label">מספר לקוח: </td>
                        <td class="info"> {{docDetails.BAN}}</td>
                      </tr>
                      <tr>
                        <td class="label">נושא משימה: </td>
                        <td class="info"> {{docDetails.TASK_TYPE}}</td>
                      </tr>
                      <tr>
                        <td class="label">תת נושא: </td>
                        <td class="info"> {{docDetails.SUB_TASK_TYPE}}</td>
                      </tr>
                      <tr>
                        <td class="label">תאריך יצירה: </td>
                        <td class="info pele_rtl"> {{docDetails.CREATION_DATE| date:'dd-MM-yyyy HH:mm'}}</td>
                      </tr>
                      <tr>
                        <td class="label">האם משימה חוזרת: </td>
                        <td class="info"> {{docDetails.RETURN_TASK}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li class="item item-info no-border">
                <div class="item item-divider item-icon-right item-icon-left" ng-init="sys_data=false" ng-click="sys_data=!sys_data">
                  <i class="icon pel_icon icon-sm" ng-class="sys_data ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                  <h2 class="text-right pele_rtl">נתוני מערכת</h2>
                  <i class="icon pel_icon icon-md ion-clipboard"></i>
                </div>
                <div class="item-section" ng-show="sys_data">
                  <table class="pele_rtl text-right">
                    <tbody>
                      <tr class="pele_rtl" ng-repeat="item in docDetails.SYSTEM_INFORMATION">
                        <td class="label">{{item.PROMPT}}: </td>
                        <td class="info"> {{item.VALUE}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li class="item item-info no-border">
                <div class="item item-divider item-icon-right item-icon-left" ng-init="extra_elm=false" ng-click="extra_elm=!extra_elm">
                  <i class="icon pel_icon icon-sm" ng-class="extra_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                  <h2 class="text-right pele_rtl">נתונים נוספים</h2>
                  <i class="icon pel_icon icon-md ion-clipboard"></i>
                </div>
                <div class="item-section" ng-show="extra_elm">
                  <table class="pele_rtl text-right">
                    <tbody>
                      <tr class="pele_rtl" ng-repeat="item in docDetails.EXTRA_INFORMATION">
                        <td class="label">{{item.PROMPT}}: </td>
                        <td class="info"> {{item.VALUE}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>

              <li class="item item-info no-border">
                <div class="item item-divider item-icon-right item-icon-left" ng-init="attach_elm=true" ng-click="attach_elm=!attach_elm">
                  <i class="icon pel_icon icon-sm" ng-class="attach_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                  <h2 class="text-right pele_rtl">נספחי משימה</h2>
                  <i class="icon pel_icon icon-md ion-paperclip"></i>
                </div>
                <div class="item-section" ng-show="attach_elm">
                  <table class="pele_rtl attachments-table text-right">
                    <tbody>
                      <tr class="pele_rtl" ng-repeat="file in docDetails.attachments | filter:{ DISPLAY: 'Y' }">
                        <td class="num_index"> {{$index+1}} . </td>
                        <td class="info pele_ltr">
                          <span ng-click="openAttachment(file)" ng-class="'show_content_'+file.SHOW_CONTENT"> {{file.DISPLAY_NAME}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </ion-scroll>
        </ion-slide>
        <!------------------------------------------------------------------------------->
        <!----------------------------- Doc Details Slide ------------------------------->
        <!------------------------------------------------------------------------------->
        <ion-slide on-drag-right="enable('drag')" on-drag-left="disable('drag')">
          <ion-scroll class="pele_rtl text-right" scrollX="false" style="height:80%" delegate-handle="slide1Scroll">
            <!-- Refresh to get the new posts -->
            <ul class="list">
              <li class="item item-info no-border item-thumbnail-left item-avatar">
                <img src="data:image/JPEG;base64,{{contact.pic}}">
                <div class="item-section">
                  <table class="pele_rtl text-right">
                    <tbody>
                      <tr>
                        <td class="label">שם פרטי: </td>
                        <td class="info"> {{contact.firstName}}</td>
                      </tr>
                      <tr>
                        <td class="label">שם משפחה: </td>
                        <td class="info"> {{contact.lastName}}</td>
                      </tr>
                      <tr>
                        <td class="label">פלאפון: </td>
                        <td class="info"> {{contact.mobilePhone}}</td>
                      </tr>
                      <tr>
                        <td class="label">שלוחה: </td>
                        <td class="info"> {{contact.workPhone}}</td>
                      </tr>
                      <tr>
                        <td class="label">דוא"ל: </td>
                        <td class="info"> {{contact.emailAddress}}</td>
                      </tr>
                      <tr>
                        <td class="label">מיקום: </td>
                        <td class="info"> {{contact.orgLocation}}</td>
                      </tr>
                      <tr>
                        <td class="label">ת.לידה: </td>
                        <td class="info"> {{contact.birthday}}</td>
                      </tr>
                      <tr>
                        <td class="label">חטיבה: </td>
                        <td class="info"> {{contact.sector}}</td>
                      </tr>
                      <tr>
                        <td class="label">אגף: </td>
                        <td class="info"> {{contact.section}}</td>
                      </tr>
                      <tr>
                        <td class="label">מחלקה: </td>
                        <td class="info"> {{contact.department}}</td>
                      </tr>
                      <tr>
                        <td class="label">צוות </td>
                        <td class="info"> {{contact.team}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>


              <li class="item item-info no-border">
                <div class="item item-divider item-icon-right item-icon-left" ng-init="attach_elm=true" ng-click="attach_elm=!attach_elm">
                  <i class="icon pel_icon icon-sm" ng-class="attach_elm ? 'ion-chevron-down' :'ion-chevron-left'"></i>
                  <h2 class="text-right pele_rtl">עץ ארגוני</h2>
                  <i class="icon pel_icon icon-md ion-paperclip"></i>
                </div>
                <div class="item-section" ng-show="attach_elm">
                  <table class="pele_rtl attachments-table text-right">
                    <tbody>
                      <tr class="pele_rtl" ng-repeat="file in docDetails.attachments | filter:{ DISPLAY: 'Y' }">
                        <td class="num_index"> {{$index+1}} . </td>
                        <td class="info pele_ltr">
                          <span ng-click="openAttachment(file)" ng-class="'show_content_'+file.SHOW_CONTENT"> {{file.DISPLAY_NAME}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>

          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
  </ion-content>
  <!-- Footer Actions -->
  <ion-footer-bar class="footer50 ">
    <div class="row ">
      <div class="col col-50 text-center ">
        <button class="button button-clear button-positive" ui-sref="app.p1_appsLists">
          <i class="ion-home "></i> תפריט ראשי
        </button>
      </div>
      <div class="col col-50 text-center ">
        <button class="button button-clear button-positive" ui-sref="app.phonebook">
      <i class=" ion-search "></i> חיפוש חדש
      </button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
